$color: #8c2dfa;
$bg-primary: #0d6efd;
$bg-light: #e8e8e8;
$bg-warning: #ffc107;
$bg-success: #198754;
$border: 1.2px solid #6f74f7;
$box-shadow:
  0 6px 10px 0 rgba(51, 51, 51, 0.2),
  0 0px 5px 0 rgba(51, 51, 51, 0.19);
$text-color: #ffffff;

* {
  outline: none;
  border: none;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  margin-top: 15px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  color: white;
  min-width: 1200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.d-flex {
  width: 55%;
  display: flex;
  color: #333;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
}

.w-20 {
  width: 30%;
}

button[type="submit"],
button[type="button"] {
  cursor: pointer;
  margin-right: 15px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color:#dedede;
}

.form-group {
  width: 100%;
  height: 100%;
}

.text-color {
  color: $text-color;
}

.form-control {
  width: 100%;
  padding: 10px 15px;
}

.App-link {
  color: #61dafb;
}

.navbar {
  width: 30%;
  margin: 0 auto;
  @extend .App-header;
  min-height: 0;
  font-size: 1rem;
  padding-bottom: 20px;
  flex-direction: row;
}

.list-foocter {
  @extend .App-header;
  width: 30%;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #976ff7;
}

.modal {
  display: none;
  position: relative;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-white.flex {
  .flex.fix {
    width: 20%;
    justify-content: space-evenly;
    input[type="text"] {
      display: none;
    }
  }
}

.bg-white.flex {
  .flex.fix {
    input[type="checkbox"] {
      width: 16px;
      height: 16px;
    }
  }
}

div.text-left {
  text-align: left;
  background-color: transparent !important;
}

#list {
  width: 100%;
  height: 430px;
  overflow: auto;
  font-size: 1.2rem;
  background-color: transparent;
}

.icon-click {
  color: #0d6efd;
  background-color: transparent;
}

.bg-white.flex {
  margin: 10px 0;
  border-radius: 6px;
}

.remove-edit {
background-color: transparent
}

.flex {
  @extend .d-flex;
  width: 100%;
}

.fix {
  width: 25%;
}

p {
  margin: 10px 5px;
  background-color: transparent !important;
}

.box-shadow {
  box-shadow: $box-shadow;
}

.border {
  border: $border;
}

.border-radius {
  border-radius: 5px;
}

.bg-warning {
  background-color: $bg-warning !important;
}

.bg-light {
  background-color: $bg-light !important;
}

.bg-primary {
  background-color: $bg-primary !important;
}

.bg-success {
  background-color: $bg-success !important;
}

.bg-white {
  background-color: #ffffff !important;
}
